* {
  box-sizing: border-box;
}


.wrapper{
  display:flex;
  height:100vh;
}

.chat-side{
  width:300px;  
  .header{
    background-color:#253141;
    height:100px;
    display:flex;
    align-items:center;
    &__box{
      height:20px;
      width:260px;
      margin:0px 20px;
      @include flexbox;
      line-height:20px;
      &__user-name{
        font-size:16px;
        color:#d8d8d8;
        font-weight:bold;
      }
      .icon {
        width:60px;
        display:flex;
        li {
          }
        a {
          color:white;
          }
        &__edit-user {
            margin:0 0 0 auto
            }  
        &__new-group{
            margin-left:5px;
            }
      }
    }
  }
  .side-groups {
    background-color:#2f3e51;
    height:calc(100vh - 100px);
    padding: 20px 20px 0;
    .group{
      margin-bottom:40px;
      color:#ffffff;
      &__name {
        font-size:15px;
        margin-bottom:5px;
      }
      &__message{
        font-size:11px;
      }
    }
  }
}

.contents {
  width:calc(100vw - 300px);
  .header{
    background-color:#ffffff;
    height:100px;
    @include flexbox;
    padding:0px 40px;
    align-items:center;
    border-bottom: solid 1px #eee;
    .left-box{
      &__group-name{
      margin:35px 0px 15px 0px;
      color:#333333;
      font-size:20px;
      }
    
      &__member-list{
        display:flex;
        font-size:12px;
        color:#999999;
        }
      }
    .right-box{
      a {
        color:$gcolor;
        display:inline-block;
        line-height:40px;
        text-decoration: none;
        border:solid 1px $gcolor;
        width:72px;
        height:40px;
        margin:28px 0px 28px 0px;
        padding: 0 20px;
      }
    }
  }
  .messages{
    background-color:#fafafa;
    height: calc(100vh - 190px);
    padding: 46px 40px;
    .message{
      padding-bottom:46px;
      &__box{
        display: flex;
        margin-bottom:12px;
      &__user{
       color:#333333;
       font-size:16px;
       font-weight:bold;
      }
      &__time{
        color:#999999;
        font-size:12px;
        margin-left: 10px;
    }
    &__text{
      color:#434A54;
      font-size:14px;
      margin-bottom: 10px;
    }
  }
}
}

  .form {
    background-color:#d2d2d2;
    height:90px;
    padding:20px 40px;

    form {
      display:flex;
      .message-box {
        width:100%;
        position: relative;
        &__text {
          height:50px;
          width:100%;
          color: #434a54;
          border-style: none;
          padding: 0 0px 0 10px;
        }
        &__img {
          position: absolute;
          cursor: pointer;
          font-size: 1.3rem;
          top:10px;
          right:10px;
          
          &__file {
            display: none;
          }
        }
      }
     .submit-btn{
       width:100px;
       height: 50px;
       padding: 0 30px;
       margin-left: 15px;
       background-color: $gcolor;
       color: white;
       cursor: pointer;
     }
    }
    
  }
}